*,::before, *::after {
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body{
    scroll-behavior: smooth;
}

.clearfix::after {
	content: '';
	display: block;
	clear: both;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Architects Daughter';
    src: url('../fonts/ArchitectsDaughter-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Top header */

body{
    background: #D8D8D6;
    color: #161616;
    ont-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

main{
}

.wraper{
}

.main_header + div{
    display: flex;
}

.container{
    width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.subtitle{
    font-family: "Architects Daughter";
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 50px;
}

.header_container{
    display: flex;
    justify-content: space-between;
}

/* Header   */

.main_header{
    background: #81A36B;
    padding: 25px 0;
}

.header_logo{
}

.header_logo img{
    
}

.menu_header{
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 18px;
    text-decoration: none;
}

.menu_header > li a{
    text-decoration: none;
}


.menu_header, .header_logo{}

/* amelia flowers  */

.amelia_flowers{
    padding-bottom: 120px;
}

.container_box {
    display: flex;
    align-items: center;
    gap: 30px;
}

.main_title{
    margin-bottom: 40px;
    font-family: "Architects Daughter";
    font-size: 62px;
}

.main_title + p{
    margin-bottom: 40px;
}

.flowers-buttons {
    font-size: 0;
}
.btn {
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    color: #161616;
    border: 0;
    border-radius: 6px;
    background: #81A36B;
    padding: 18px 34px;
    cursor: pointer;
    border: 1px solid #81A36B;
    margin-left: 23px;
}

.btn:first-child {
    margin-left: 0;
}

.btn-outline {
    background: transparent;
}

.first_section,
.foto_2{
    flex: 1 1 540px;
}

.foto_2{
    height: 670px;
}

.foto_2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Section about */

.about{
    text-align: center;
    padding-bottom: 120px;
}

.about_container{
    width: 570px;
}

/* Section icons  */

.icon{
    background: #81A36B;
}

.icon_container{
    padding: 78px;
}

.ul_icon{
    display: flex;
    justify-content: space-between;
}
.li_icons img {
    justify-content: center;
}
